{% extends 'base_admin.html.twig' %}

{% block title %} Compétitions {% endblock %}

{% block body %}
<!-- Content Start -->
<div class="content container-fluid pt-4 px-4">
    
    <div class="col-12">
        <div class="bg-secondary rounded h-100 p-4">
            <h6 class="mb-4">Liste des Compétitions</h6>

            {# Afficher les messages flash #}
            {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}

            <div class="table-responsive">
                {% for competition in competitions %}
                <div class="competition">
                    <h2>{{ competition.nomComp }}</h2>
                    <p class="date">Du {{ competition.dateDebut|date('d/m/Y') }} au {{ competition.dateFin|date('d/m/Y') }}</p>
                    <p class="description">{{ competition.description }}</p>
                    <p>Organisée par : {{ competition.nomEntreprise }}</p>
                    {% if competition.fichier %}
                        <a href="{{ asset('uploads/' ~ competition.fichier) }}" target="_blank" class="button">Voir le fichier</a>
                    {% else %}
                        <p>Aucun fichier disponible</p>
                    {% endif %}
                    <div>
                        
                        <form method="post" action="{{ path('delete_competition_admin', {'id': competition.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette compétition ?');" style="display: inline;">
                            <input type="hidden" name="_method" value="DELETE">
                            <button type="submit" class="button btn-danger">Supprimer</button>
                        </form>
                    </div>
                </div>
            {% else %}
                <p>Aucune compétition trouvée.</p>
            {% endfor %} 
            </div>
        </div>
    </div>
</div>        
{% endblock %}
