{% extends 'base.html.twig' %}

{% block body %}
	<div class="formbold-main-wrapper">
		<div class="formbold-form-wrapper">
			<div class="formbold-event-wrapper">
				<h3>{{event.getNomEvent()}}</h3>
				<rect width="490" height="215" rx="5" fill="url(#pattern0)"/>
				<defs>
					<pattern id="pattern0" patterncontentunits="objectBoundingBox" width="1" height="1">
						<use xlink:href="#image0_1675_1746" transform="translate(0 -0.524787) scale(0.000379363 0.000864594)"/>
					</pattern>
					{% if event.getImagePath() %}
						<img src="{{ asset('uploads/events_images/' ~ event.imagePath) }}" alt="Event Image" style="max-width: 100%; height: auto; border-radius: 10px;">
					{% else %}
						Aucune image
					{% endif %}
					<h4>What you’ll learn</h4>
					<p>
						{{event.getDescription()}}
					</p>

					<div class="formbold-event-details">
						<h5>Event Details</h5>
						<ul>
							<li>
								<svg width="18" height="18" viewbox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
									<g clip-path="url(#clip0_1675_1725)">
										<path d="M12.75 2.25H15.75C15.9489 2.25 16.1397 2.32902 16.2803 2.46967C16.421 2.61032 16.5 2.80109 16.5 3V15C16.5 15.1989 16.421 15.3897 16.2803 15.5303C16.1397 15.671 15.9489 15.75 15.75 15.75H2.25C2.05109 15.75 1.86032 15.671 1.71967 15.5303C1.57902 15.3897 1.5 15.1989 1.5 15V3C1.5 2.80109 1.57902 2.61032 1.71967 2.46967C1.86032 2.32902 2.05109 2.25 2.25 2.25H5.25V0.75H6.75V2.25H11.25V0.75H12.75V2.25ZM11.25 3.75H6.75V5.25H5.25V3.75H3V6.75H15V3.75H12.75V5.25H11.25V3.75ZM15 8.25H3V14.25H15V8.25Z" fill="#536387"/>
									</g>
									<defs>
										<clipPath id="clip0_1675_1725">
											<rect width="18" height="18" fill="white"/>
										</clipPath>
									</defs>
								</svg>
								{{event.getDateEvent | date}}
							</li>

							<li>
								<svg width="18" height="18" viewbox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
									<g clip-path="url(#clip0_1675_1740)">
										<path d="M8.17501 1.57422L15.5993 2.63547L16.6598 10.0605L9.76576 16.9545C9.62512 17.0951 9.43438 17.1741 9.23551 17.1741C9.03664 17.1741 8.84591 17.0951 8.70526 16.9545L1.28026 9.52947C1.13966 9.38882 1.06067 9.19809 1.06067 8.99922C1.06067 8.80035 1.13966 8.60962 1.28026 8.46897L8.17501 1.57422ZM8.70526 3.16572L2.87101 8.99922L9.23551 15.363L15.069 9.52947L14.274 3.96072L8.70526 3.16572ZM10.2953 7.93872C10.0139 7.65726 9.85587 7.27556 9.85594 6.87758C9.85598 6.68052 9.89482 6.4854 9.97027 6.30336C10.0457 6.12131 10.1563 5.95591 10.2956 5.81659C10.435 5.67728 10.6004 5.56678 10.7825 5.4914C10.9646 5.41602 11.1597 5.37724 11.3568 5.37728C11.7548 5.37735 12.1364 5.53551 12.4178 5.81697C12.6991 6.09843 12.8572 6.48013 12.8571 6.87811C12.857 7.27609 12.6988 7.65773 12.4174 7.93909C12.1359 8.22046 11.7542 8.37848 11.3562 8.37841C10.9583 8.37834 10.5766 8.22018 10.2953 7.93872Z" fill="#536387"/>
									</g>
									<defs>
										<clipPath id="clip0_1675_1740">
											<rect width="18" height="18" fill="white"/>
										</clipPath>
									</defs>
								</svg>
								{{event.getGenre().getNomGenre()}}
							</li>
							<li>
								<div style="text-align: right;">
									<button style="background-color: #28a745; color: white; border: none; padding: 5px 10px; font-size: 14px; border-radius: 5px; cursor: pointer; margin : 10px 10px">
										Participate
									</button>
								</div>
							</li>

						</ul>

					</div>
				</div>
			</div>
		</div>
		<style>
			@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700 &display=swap');
			* {
				margin: 0;
				padding: 0;
				box-sizing: border-box;
			}
			body {
				font-family: 'Inter', sans-serif;
			}
			.formbold-main-wrapper {
				display: flex;
				align-items: center;
				justify-content: center;
				padding: 48px;
			}

			.formbold-form-wrapper {
				margin: 0 auto;
				max-width: 550px;
				width: 100%;
				background: white;
			}

			.formbold-event-wrapper span {
				font-weight: 500;
				font-size: 16px;
				line-height: 24px;
				letter-spacing: 2.5px;
				color: #6a64f1;
				display: inline-block;
				margin-bottom: 12px;
			}
			.formbold-event-wrapper h3 {
				font-weight: 700;
				font-size: 28px;
				line-height: 34px;
				color: #07074d;
				width: 60%;
				margin-bottom: 15px;
			}
			.formbold-event-wrapper h4 {
				font-weight: 600;
				font-size: 20px;
				line-height: 24px;
				color: #07074d;
				width: 60%;
				margin: 25px 0 15px;
			}
			.formbold-event-wrapper p {
				font-size: 16px;
				line-height: 24px;
				color: #536387;
			}

			.formbold-event-details {
				background: #fafafa;
				border: 1px solid #dde3ec;
				border-radius: 5px;
				margin: 25px 0 30px;
			}
			.formbold-event-details h5 {
				color: #07074d;
				font-weight: 600;
				font-size: 18px;
				line-height: 24px;
				padding: 15px 25px;
			}
			.formbold-event-details ul {
				border-top: 1px solid #edeef2;
				padding: 25px;
				margin: 0;
				list-style: none;
				display: flex;
				flex-wrap: wrap;
				row-gap: 14px;
			}
			.formbold-event-details ul li {
				color: #536387;
				font-size: 16px;
				line-height: 24px;
				width: 50%;
				display: flex;
				align-items: center;
				gap: 10px;
			}

			.formbold-form-title {
				color: #07074d;
				font-weight: 600;
				font-size: 28px;
				line-height: 35px;
				width: 60%;
				margin-bottom: 30px;
			}

			.formbold-input-flex {
				display: flex;
				gap: 20px;
				margin-bottom: 15px;
			}
			.formbold-input-flex > div {
				width: 50%;
			}
			.formbold-form-input {
				text-align: center;
				width: 100%;
				padding: 13px 22px;
				border-radius: 5px;
				border: 1px solid #dde3ec;
				background: #ffffff;
				font-weight: 500;
				font-size: 16px;
				color: #536387;
				outline: none;
				resize: none;
			}
			.formbold-form-input:focus {
				border-color: #6a64f1;
				box-shadow: 0 3px 8px rgba(0, 0, 0, 0.05);
			}
			.formbold-form-label {
				color: #536387;
				font-size: 14px;
				line-height: 24px;
				display: block;
				margin-bottom: 10px;
			}

			.formbold-policy {
				font-size: 14px;
				line-height: 24px;
				color: #536387;
				width: 70%;
				margin-top: 22px;
			}
			.formbold-policy a {
				color: #6a64f1;
			}
			.formbold-btn {
				text-align: center;
				width: 100%;
				font-size: 16px;
				border-radius: 5px;
				padding: 14px 25px;
				border: none;
				font-weight: 500;
				background-color: #6a64f1;
				color: white;
				cursor: pointer;
				margin-top: 25px;
			}
			.formbold-btn:hover {
				box-shadow: 0 3px 8px rgba(0, 0, 0, 0.05);
			}
		</style>
	{% endblock %}
