{% extends 'base_admin.html.twig' %}

{% block title %} quiz {% endblock %}



{% block body %}
<!-- Content Start -->
<div class="content container-fluid pt-4 px-4" >
    <div class="row g-4 mb-4" >
        <div class="col-sm-12 col-xl-6" mb-3>
            <div class="bg-secondary rounded h-100 p-4">
                <h4 class="mb-4">Ajouter une nouvelle question pour votre QuizKids</h4>
                
                {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }} 

                <div class="form-floating " >
                    {{ form_widget(form.question, { 'attr': {'class': 'form-control mb-4', 'placeholder': 'Leave question here'} }) }}
                    {{ form_label(form.question, 'Question') }}
                    <div class="invalid-feedbacks d-block">
                        {{ form_errors(form.question) }}  
                    </div>
                </div>
                
                    

                   

                <div id="options-container" >
                    
                    {% for option in form.options %}
                        <div class="option-item d-flex align-items-center">
                            {{ form_widget(option, { 'attr': {'class': 'form-control mb-2'} }) }}
                            
                            <button type="button" class="btn btn-danger btn-sm ms-2 remove-option">
                                <i class="fas fa-trash"></i>
                            </button>
                        </div>
                        
                    {% endfor %}
                        
                </div>
               
                <button type="button" id="add-option" class="btn btn-primary btn-sm mb-3">
                    <i class="fas fa-plus"></i> Ajouter une option
                </button>
                
                
                <script>
                    document.addEventListener("DOMContentLoaded", function () {
                        let container = document.getElementById("options-container");
                        let addButton = document.getElementById("add-option");
                        let index = container.children.length;
                
                        addButton.addEventListener("click", function () {
                            let newOption = document.createElement("div");
                            
                            newOption.classList.add("option-item", "mb-2", "d-flex", "align-items-center");
                            newOption.innerHTML = 
                                `
                                <input type="text" name="quiz_kids[options][${index}]" class="form-control" placeholder="Option">
                                <button type="button" class="btn btn-danger btn-sm ms-2 remove-option">
                                    <i class="fas fa-trash"></i>
                                </button>
                                
                            `;
                            container.appendChild(newOption);
                            index++;
                        });
                
                        container.addEventListener("click", function (e) {
                            if (e.target.closest(".remove-option")) {
                                e.target.closest(".option-item").remove();
                            }
                        });
                    });
                </script>
                  
                    
                    <div class="form-floating">
                        {{ form_widget(form.correctAnswer, { 'attr': {'class': 'form-control mb-4', 'placeholder': 'Leave answer here'} }) }}
                        {{ form_label(form.correctAnswer, 'Réponse exacte') }}
                        <div class="invalid-feedbacks d-block">
                            {{ form_errors(form.correctAnswer) }}  
                        </div>
                    </div>


                    <div class="form-floating mb-3">
                        {{ form_widget(form.genre, { 'attr': {'class': 'form-select'} }) }}
                        {{ form_label(form.genre, 'Choisir le genre de question') }}
                        <div class="invalid-feedbacks d-block">
                            {{ form_errors(form.genre) }}  
                        </div>
                    </div>

                    <div class="form-floating mb-3">
                        {{ form_widget(form.level, { 'attr': {'class': 'form-select'} }) }}
                        {{ form_label(form.level, 'Choisir le Niveau de difficulté de la question') }}
                        <div class="invalid-feedbacks d-block">
                            {{ form_errors(form.level) }}  
                        </div>
                    </div>

                   

                    <div class="mb-3">
                        {{ form_widget(form.mediaFile, { 'attr': {'class': 'form-label mb-4 form-control bg-dark' ,'type':'file'} }) }}
                            
                                

                        
                    </div>    


                
                   

                    <button type="submit" class="btn btn-primary"  >Enregistrer</button>
                        
                {{ form_end(form) }}
                
                
            </div> 
        </div>  
        <div class="col-sm-6 col-xl-3">
            <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-chart-line fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Totale Questions</p>
                    <h6 class="mb-0">{{ totalQuestions }}</h6>
                </div>
            </div>
        </div>   
        <div class="col-sm-6 col-xl-3">
            <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-chart-area fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Totale Question Traités</p>
                    <h6 class="mb-0">12</h6>
                </div>
            </div>
        </div> 
    
                
                
           
        

    </div>
    
    
    
</div>        
{% endblock %}