{% extends 'base_admin.html.twig' %}

{% block title %} quiz {% endblock %}



{% block body %}
<!-- Content Start -->
<div class="content container-fluid pt-4 px-4" >
    <div class="row g-4 mb-4" >
        <div class="col-sm-12 col-xl-6" mb-3>
            <div class="bg-secondary rounded h-100 p-4">
                <h4 class="mb-4">Ajouter une nouvelle question pour votre QuizKids</h4>
                
                {{ form_start(form) }}
                <div class="form-floating">
                    {{ form_widget(form.question, { 'attr': {'class': 'form-control mb-4', 'placeholder': 'Leave question here'} }) }}
                    {{ form_label(form.question, 'Question') }}
                </div>
                
                    

                   

                    <div class="form-floating">
                        {{ form_widget(form.options, { 'attr': {'class': 'form-control mb-4', 'placeholder': 'Leave options here', 'style': 'height: 150px;' } }) }}
                        {{ form_label(form.options, 'Options (séparées par des virgules)') }}
                    </div>
                    
                    <div class="form-floating">
                        {{ form_widget(form.correctAnswer, { 'attr': {'class': 'form-control mb-4', 'placeholder': 'Leave answer here'} }) }}
                        {{ form_label(form.correctAnswer, 'Réponse exacte') }}
                    </div>


                    <div class="form-floating mb-3">
                        {{ form_widget(form.genre, { 'attr': {'class': 'form-select'} }) }}
                        {{ form_label(form.genre, 'Choisir le genre de question') }}
                    </div>

                    <div class="form-floating mb-3">
                        {{ form_widget(form.level, { 'attr': {'class': 'form-select'} }) }}
                        {{ form_label(form.level, 'Choisir le Niveau de difficulté de la question') }}
                    </div>

                   

                    <div class="mb-3">
                        {{ form_widget(form.mediaFile, { 'attr': {'class': 'form-label mb-4 form-control bg-dark' ,'type':'file'} }) }}
                        
                    </div>    


                
                   

                    <button type="submit" class="btn btn-primary"  >Enregistrer</button>
                        
                {{ form_end(form) }}
                
                
            </div> 
        </div>  
        <div class="col-sm-6 col-xl-3">
            <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-chart-line fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Totale Questions</p>
                    <h6 class="mb-0">{{ totalQuestions }}</h6>
                </div>
            </div>
        </div>   
        <div class="col-sm-6 col-xl-3">
            <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-chart-area fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Totale Question Traités</p>
                    <h6 class="mb-0">12</h6>
                </div>
            </div>
        </div> 
    
                
                
           
        

    </div>
    
    <div class="col-12 ">
        <div class="bg-secondary rounded h-100 p-4">
            <h6 class="mb-4">QuizKids/Question Table</h6>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Question</th>
                            <th scope="col">Options</th>
                            <th scope="col">Réponse exacte</th>
                            <th scope="col">Genre</th>
                            <th scope="col">Niveau</th>
                            <th scope="col">Média</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for question in questions %}
                            <tr>
                                <th scope="row">{{ loop.index }}</th>
                                <td>{{ question.question }}</td>
                                <td>{{ question.options|join(', ') }}</td>
                                <td>{{ question.correctAnswer }}</td>
                                <td>{{ question.genre }}</td>
                                <td>{{ question.level }}</td>
                                <td>
                                    {% if question.media %}
                                    <a href="/uploads/media/{{ question.media }}" style="color: #1932d2;">Voir le fichier</a>
                                    {% else %}
                                        Aucun fichier
                                    {% endif %}
                                </td>
                                <td>
                                    <a href="{{ path('edit_QuizKids', { id: question.id }) }}" class="btn btn-sm btn-primary mb-2">
                                        <i class="fas fa-edit"></i> <!-- Icône de modification -->
                                    </a>
                                    <a href="{{ path('delete_QuizKids', { id: question.id }) }}" class="btn btn-sm btn-danger" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cette question ?');">
                                        <i class="fas fa-trash-alt"></i> <!-- Icône de suppression -->
                                    </a>
                                    
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="7" class="text-center">Aucune question ajoutée pour le moment.</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    
</div>        
{% endblock %}