{% extends 'base_admin.html.twig' %}

{% block title %} quiz {% endblock %}



{% block body %}
<!-- Content Start -->
<div class="content container-fluid pt-4 px-4" >
    <div class="row g-4 mb-4" >
        <div class="col-sm-12 col-xl-6" mb-3>
            <div class="bg-secondary rounded h-100 p-4">
                <h4 class="mb-4">Modifier  "{{question.question}}"  pour votre QuizKids</h4>
                
                {{ form_start(form) }}
                <div class="form-floating">
                    {{ form_widget(form.question, { 'attr': {'class': 'form-control mb-4', 'placeholder': 'Leave question here'} }) }}
                    {{ form_label(form.question, 'Question') }}
                </div>
                
                    

                   

                    <div class="form-floating">
                        {{ form_widget(form.options, { 'attr': {'class': 'form-control mb-4', 'placeholder': 'Leave options here', 'style': 'height: 150px;' } }) }}
                        {{ form_label(form.options, 'Options (séparées par des virgules)') }}
                    </div>
                    
                    <div class="form-floating">
                        {{ form_widget(form.correctAnswer, { 'attr': {'class': 'form-control mb-4', 'placeholder': 'Leave answer here'} }) }}
                        {{ form_label(form.correctAnswer, 'Réponse exacte') }}
                    </div>

                    
                    <div class="form-floating mb-3">
                        {{ form_widget(form.genre, { 'attr': {'class': 'form-select'} }) }}
                        {{ form_label(form.genre, 'Choisir le genre de la question') }}
                    </div>


                    <div class="form-floating mb-3">
                        {{ form_widget(form.level, { 'attr': {'class': 'form-select'} }) }}
                        {{ form_label(form.level, 'Choisir le Niveau de difficulté de la question') }}
                    </div>

                    <div class="mb-3">
                        {{ form_widget(form.mediaFile, { 'attr': {'class': 'form-label mb-4 form-control bg-dark' ,'type':'file'} }) }}
                        
                    </div>    


                
                   

                    <button type="submit" class="btn btn-primary" style="text-align: right;">Modifier</button>
                {{ form_end(form) }}
               
            </div> 
        </div>      
    </div>
   
    
</div>        
{% endblock %}