{% extends 'base.html.twig' %}

{% block title %}Modifier la réponse pour la question: {{ question.question }}{% endblock %}

{% block body %}
<div class="container my-5">
    <h1 class="text-center mb-4">Modifier la réponse pour la question: {{ question.question }}</h1>

    {{ form_start(form) }}
        <div class="form-group">
            {{ form_row(form.reponse) }}
        </div>

        <div class="form-group">
            {{ form_row(form.isCorrect) }}
        </div>

        <button type="submit" class="btn btn-success">Mettre à jour la réponse</button>
    {{ form_end(form) }}

    <a href="{{ path('admin_question_reponse', {'id': question.id}) }}" class="btn btn-secondary mt-4">Retour aux réponses</a>
</div>
{% endblock %}
