{% extends 'base_admin.html.twig' %}

{% block title %}
	Gestion des Événements
{% endblock %}

{% block body %}
	<!-- Content Start -->
	<div class="content container-fluid pt-4 px-4">
		<div class="row g-4 mb-4">
			<div class="col-sm-6 col-xl-3">
				<div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
					<i class="fa fa-calendar-alt fa-3x text-primary"></i>
					<div class="ms-3">
						<p class="mb-2">Total Événements</p>
						<h6 class="mb-0">{{ events|length }}</h6>
					</div>
				</div>
			</div>
		</div>
		<div class="col-12">
			<div class="bg-secondary rounded h-100 p-4">
				<h6 class="mb-4">Liste des Événements</h6>
				<div class="table-responsive">
					<table class="table">
						<thead>
							<tr>
								<th scope="col">#</th>
								<th scope="col">Nom</th>
								<th scope="col">Description</th>
								<th scope="col">Date</th>
								<th scope="col">Membres</th>
								<th scope="col">Genre</th>
								<th scope="col">Sponsors</th>
								<th scope="col">Image</th>
								<th scope="col">Actions</th>
							</tr>
						</thead>
						<tbody>
							{% for event in events %}
								<tr>
									<th scope="row">{{ loop.index }}</th>
									<td>
										<strong>{{ event.getNomEvent() }}</strong>
									</td>
									<td>{{ event.getDescription() }}</td>
									<td>{{ event.getDateEvent()|date('d/m/Y') }}</td>
									<td>{{ event.getNbrMembers() ?? 'Illimité' }}</td>
									<td>{{ event.genre.getNomGenre() }}</td>
									<td>
										{% for sponsor in event.getSponsors() %}
											{{ sponsor.getNomSponsor() }}<br>
										{% endfor %}
									</td>
									<td>
										{% if event.getImagePath() %}
											<img src="{{ asset('uploads/events_images/' ~ event.imagePath) }}" alt="Event Image" height="50">
										{% else %}
											Aucune image
										{% endif %}
									</td>
									<td>
										<a href="{{ path('app_back_update_event', {'id': event.getId()}) }}" class="btn btn-sm btn-primary mb-2">
											<i class="fas fa-edit"></i>
										</a>
										<a href="{{ path('app_delete_event', {'id': event.getId()}) }}" class="btn btn-sm btn-danger" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cet événement ?');">
											<i class="fas fa-trash-alt"></i>
										</a>
									</td>
								</tr>
							{% else %}
								<tr>
									<td colspan="9" class="text-center">Aucun événement trouvé.</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
