{% extends 'base_admin.html.twig' %}

{% block title %}Ajouter un Jeu{% endblock %}

{% block body %}
<div class="content container-fluid pt-4 px-4">
    <div class="row g-4 mb-4">
        <div class="col-sm-12 col-xl-6">
            <div class="bg-secondary rounded h-100 p-4">
                <h4 class="mb-4">Ajouter un Jeu</h4>

                <!-- Affichage des messages flash -->
                {% for message in app.flashes('success') %}
                    <div class="alert alert-success">{{ message }}</div>
                {% endfor %}

                {% for message in app.flashes('error') %}
                    <div class="alert alert-danger">{{ message }}</div>
                {% endfor %}

                {{ form_start(form, {'attr': {'novalidate': 'novalidate', 'enctype': 'multipart/form-data'}}) }}

                <div class="form-floating mb-3">
                    {{ form_widget(form.name, { 'attr': {'class': 'form-control bg-dark'} }) }}
                    {{ form_label(form.name, 'Nom du Jeu') }}
                    <div class="invalid-feedback d-block">
                        {{ form_errors(form.name) }}
                    </div>
                </div>

                <button type="submit" class="btn btn-primary">Enregistrer</button>

                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}
