{% extends "base.html.twig" %}

{% block title %} Ajouter une Organisation {% endblock %}

{% block body %}
<div class="collaborateur">
    <div class="publish-competition-container">
        <h1>Ajouter une Nouvelle Organisation</h1>
        
        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
        <div class="form-columns">
            <div class="form-group">
                {{ form_label(form.nomOrganisation) }}
                {{ form_widget(form.nomOrganisation, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.nomOrganisation) }} {# Afficher les erreurs de validation #}
            </div>
            <div class="form-group">
                {{ form_label(form.domaine) }}
                {{ form_widget(form.domaine, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.domaine) }} {# Afficher les erreurs de validation #}
            </div>
            <button type="submit" class="submit-button">Ajouter l'Organisation</button>
        </div>
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}