{% extends "base.html.twig" %}

{% block title %}
Home -
{% endblock%}

{% block body%}

	<h1>Add Event</h1>

	<table>
    {{ form_start(form, {'attr': {'enctype': 'multipart/form-data', 'novalidate': 'novalidate'}}) }}
    <tr>
        <th><label> {{form_label(form.nom_event, 'Nom Evenement')}}</label></th>
        <td>{{ form_widget(form.nom_event) }}</td>
        <td>
            {{ form_errors(form.nom_event) }}
            {% for message in app.flashes('errorNameExist') %}
                {{message}}
            {% endfor %}
        </td>
    </tr>
    <tr>
        <th><label>{{form_label(form.date_event, 'Date Debut')}}</label></th>
        <td>{{ form_widget(form.date_event) }}</td>
        <td>
            {{ form_errors(form.date_event) }}
            {% for message in app.flashes('errorDate') %}
                {{message}}
            {% endfor %}
        </td>
    </tr>
    <tr>
        <th><label>{{form_label(form.nbr_members, 'Nembre limit de participant')}}</label></th>
        <td>{{ form_widget(form.nbr_members) }}</td>
        <td>{{ form_errors(form.nbr_members) }}</td>
    </tr>
    <tr>
        <th><label>{{form_label(form.genre, 'Genre')}}</label></th>
        <td>{{ form_widget(form.genre) }}</td>
        <td>{{ form_errors(form.genre) }}</td>
    </tr>
    <tr>
        <th><label>{{form_label(form.description, 'plus details')}}</label></th>
        <td>{{ form_widget(form.description) }}</td>
        <td>{{ form_errors(form.description) }}</td>
    </tr>
    <tr>
        <th><label>{{form_label(form.nom_event, 'sponsors')}}</label></th>
        <td>{{ form_widget(form.sponsors) }}</td>
        <td>{{ form_errors(form.sponsors) }}</td>
    </tr>
    <tr>
        <th><label >{{form_label(form.image_file, 'image')}}</label></th>
        <td>{{ form_widget(form.image_file) }}</td>
        <td>{{ form_errors(form.image_file) }}</td>
    </tr>
    <tr>
        <td colspan="2" style="text-align: center;">
            <button type="submit">Save</button>
        </td>
    </tr>
    {{ form_end(form) }}
</table>



{% endblock %}
